@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

@theme{
    --font-Exile: "Exile";
    --font-Playwrite: "Playwrite HU";
}

@layer utilities {
  @keyframes quartz-tick {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-quartz-tick {
    animation: quartz-tick 60s steps(60, end) infinite;
    transform-origin: bottom;
  }
}

